@*@model Garage_3._0.Models.Park_VehicleViewModel*@

@{
    ViewData["Title"] = "Park";
}

    <h1>Park</h1>

<h4>Park</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Parking">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

            <div class="form-group">
                <label class="control-label">Enter reg.nr of unparkt vehicle or email of owner</label>
                <input id="Search" class="form-control" />
                <span id="SearchSpan" class="text-danger"></span>
            </div>

            <div id="SelectRegNrDiv" class="form-group">
                <label class="control-label">Reg.nr</label>
                <select name="regNrSelect" id="regNrSelect" class="control-label"></select>
            </div>

            <input name="regNr" id="regNr" class="form-control" hidden="hidden" />

            <div class="form-group">
                <input type="submit" id="submitRegNr" value="Park" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {
        $("select#regNr").attr("disabled", true);
        $("#SelectRegNrDiv").hide();
        //$("input#regNr").attr("disabled", true);
        //$("#input#regNr").hide();
        $("#submitRegNr").addClass("disabled");

        $("select#regNr").empty();
        $("input#regNr").empty();
        //$("#Search").on('keydown', function (e) {
        //    if (e.keyCode == 13) {
        //        $(this).blur();
        //    }
        //});

        //$(document).on('onmousedown', function (e) {
        //        $("#Search").blur();
        //});

        $("#Search").on("input paste", function (e) {
            $("span#SearchSpan").text("")
            $("input#regNr").val($("input#Search").val());
            $("#submitRegNr").removeClass("disabled");
        });

        $("select#regNr").on('change', function (e) {
            $("input#regNr").val($("select#regNr").text());
        });


        $("form").submit(function (event) {
            if ($("input#regNr").val() == '') event.preventDefault();
        });

        //$("#Search").change(function () {
        $("#Search").on('change', function (e) { //blur 
            var faildEmail = false;
            var faildRegNr = false;
            if ($("input#regNr").text() == '') {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetEmail")',
                    dataType: 'json',
                    data: { email: $("#Search").val() },
                    success: function (regNr) {  
                        $.each(regNr, function (i, regNr) {
                            $("select#regNr").append('<option value="'
                                + regNr.value + '">'
                                + regNr.text + '</option>');
                        });

                        if (regNr.length > 0) {
                            $("#SelectRegNrDiv").show();
                            $("select#regNr").attr("disabled", false);
                            $("input#regNr").val($("select#regNr").text());
                        } else {
                            faildEmail = true;
                            if (faildRegNr) {
                                $("span#SearchSpan").text("Not found");
                                $("#submitRegNr").addClass("disabled");
                            }
                        }
                    },
                    error: function (ex) {
                        alert('Failed.' + ex);
                    }
                });
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRegNr")',
                dataType: 'json',
                data: { regNr: $("#Search").val() },
                success: function (resultRegNr) {
                    if (resultRegNr) {
                        $("input#regNr").val($("input#Search").val());
                        $("#submitRegNr").removeClass("disabled");
                    }
                    else {
                        faildRegNr = true;
                        if (faildEmail) {
                            $("span#SearchSpan").text("Not found");
                            $("#submitRegNr").addClass("disabled");
                        }
                    }
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });


            

            return false;
        })
    });
</script>
}
